// Fonts
@import "fonts";
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
//Style
body {
  font-family: $font-family-original;
  padding-top: 5rem;
}

.home {
  padding: 3rem 1.5rem;
  text-align: center;
}

//menu
.bg-dark {
  background-color: $color-original !important;
}

//dropdown-menu
.dropdown-item.active, .dropdown-item:active {
  background-color: $color-original;
}

//btn
.btn-original {
  color: $color-white;
  background-color: $color-original;
  border-color: $color-original;
}

.btn-original:hover {
  color: $color-white;
}
